.btn-medium {
  color: white;
  border: 2px solid white;
  padding: 10px 15px;
  font-weight: bolder;
}
.btn-medium:hover {
  color: white;
  border: 2px solid white;
  padding: 10px 15px;
  font-weight: bolder;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  text-decoration: none;
}

.btn-medium:focus{
  color: white;
  border: 2px solid white;
  padding: 10px 15px;
  font-weight: bolder;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  text-decoration: none;
}
